<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore.livetesting.specflowplugin" type="Sitecore.LiveTesting.SpecFlowPlugin.Config.PluginSection, Sitecore.LiveTesting.SpecFlowPlugin" />
  </configSections>
  <sitecore.livetesting.specflowplugin>
    <baseClass type="Sitecore.LiveTesting.SpecFlow.Tests.SampleLiveTestBase" />
    <tagMappings>
      <add tag="live">
        <attributes>
          <attribute id="live" type="Sitecore.LiveTesting.Initialization.InitializationHandler">
            <arguments>
              <argument id="1" codeSnippet="typeof(Sitecore.LiveTesting.SpecFlow.Tests.StepDefinitions.InitializationHandler)" />
            </arguments>
          </attribute>
        </attributes>
      </add>
      <add tag="sampleTag">
        <attributes>
          <attribute id="sampleTag" type="Sitecore.LiveTesting.Initialization.InitializationHandler">
            <arguments>
              <argument id="1" codeSnippet="typeof(Sitecore.LiveTesting.SpecFlow.Tests.StepDefinitions.DisposableInitializationHandler)" />
            </arguments>
          </attribute>
        </attributes>
      </add>
      <add tag="lowPriorityTag">
        <attributes>
          <attribute id="lowPriorityTag" type="Sitecore.LiveTesting.Initialization.InitializationHandler">
            <arguments>
              <argument id="1" codeSnippet="typeof(Sitecore.LiveTesting.SpecFlow.Tests.StepDefinitions.LowPriorityInitializationHandler)" />
              <argument id="2" name="Priority" codeSnippet="1" />
            </arguments>
          </attribute>
        </attributes>
      </add>
    </tagMappings>
  </sitecore.livetesting.specflowplugin>
</configuration>